:root {
    --titleSectionPrimaryColor: rgb(255, 255, 255);
    --titleSectionSecondaryColor: rgb(164, 123, 108);
    --titleSectionTertiaryColor: rgb(0, 0, 0);
}


#title {
	color: var(--titleSectionPrimaryColor);
    text-align: center;
    padding: 200px;
    background-image: url("../images/image.png");
    background-position: center top;
}

.title-section-header {
    margin-bottom: -5px;
}

.title-section-subtitle {
    margin-bottom: 40px;
}

.title-section-button {
    color: var(--titleSectionPrimaryColor);    
    border: solid var(--titleSectionPrimaryColor);
    padding: 15px 20px;
    background-color: transparent;
    border-radius: 5px;
}

.title-section-button:hover {
	background-color: var(--titleSectionPrimaryColor);
    color: var(--titleSectionSecondaryColor);
	cursor: pointer;
}

